.nav-container {
  background-color: #2c364c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
}

.nav-logo {
  width: 90px;
}

.icon {
  color: #ffffff;
  height: 20px;
  width: 20px;
}

.mobile-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  list-style: none;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 120px;
  height: 30px;
}

.desk-icon {
  color: #ffffff;
  font-size: 18px;
}

.desk-icons-container {
  display: none;
  width: 50%;
  justify-content: space-between;
}

.logout-btn {
  background-color: #6366f1;
  width: 80px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .mobile-icons-container {
    display: none;
  }
  .desk-icons-container {
    display: flex;
  }
  .nav-logo {
    width: 110px;
  }
  .nav-container {
    padding: 15px 25px 15px 25px;
  }
}

.mobile-log-out-btn {
  border: none;
  background-color: transparent;
}
